.portfolio-menu-item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0px;
  }
  & .portfolio-modal-btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--accent-background-color);
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;

    transition-property: color, background, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: var(--secondary-accent-color);
  background: var(--secondary-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  & .portfolio-modal-btn {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}
