.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    & .social-list__icon {
      fill: var(--secondary-accent-color);
    }
  }
  & .social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--social-accent-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
