:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-title-text-color: #757575;
  --secondary-accent-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --social-accent-color: #afb1b8;
  --secondary-btn-color: #188ce8;
  --border-header-color: #ececec;
  --secondary-background-color: #c4c4c4;
  --background-footer-color: #2f303a;
  --works-menu-border-color: #eeeeee;
  --modal-list-icon-fill: #000000;
  --background-valid: green;
  --background-invalid: red;
}
